<p>{{quote.description}}</p>

<div class="container">
  <h2>votes={{quote.upVotes}}</h2>
  <h2>votes={{quote.downVotes}}</h2>
  <div class="button">
  <button  class="btn btn-success" (click) = "upVote()" click><img width="50" height="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhVzo1WQPtrM-HJSDF_MiasM40d8GcWmswHDszsu1V5uQ7E_VsPw" alt=""> </button>
  <button  class="btn btn-primary"  (click) = "downVote()" click><img width="50" height="50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh91ONFKp0t_T-EDiDMQsfJ5azgFG95p9QjurZbQ0p3O4Xbd5n" alt=""> </button>
  <button (click) = 'quoteDelete(true)'>Clear Quote</button>
</div>
</div>
